@import './mixins.scss';

.header {
    background: $header-background;
    width: $header-width;
    height: $header-height;
    color: $header-text;
    padding: $padding37 $padding60 $padding20 $padding60;
    font-family: $font-family;
    font-style: $font-style;
  
    .wrap-header-top {
      display: flex;
      justify-content: space-between;
    }
  
    .wrap-left {
      display: flex;
    }
  
    .logo a {
      font-weight: $font-weight900;
      font-size: $font-size18px;
      line-height: $line-height21px;
      letter-spacing: $letter-spacing034;
      text-transform: uppercase;
      margin-right: $margin33;
    }
  
    .city {
      margin-right: $margin5px;
      font-size: $font-size16px;
      line-height: $line-height19px;
    }
  
    .drop-down-city {
      height: $height19;
      background: none;
      border: none;
      color: $header-text;
      font-size: $font-size16px;
      outline: none;
    }
  
    a {
      font-size: $font-size18px;
      line-height: $line-height21px;
      color: $header-text;
      text-decoration: none;
    }
  
    h1 {
      width: $width497;
      height: $height84;
      margin: $margin69 $margin0 $margin57 $margin0;  
      font-style: $font-style;
      font-weight: $font-weight300;
      font-size: $font-size36;
      line-height: $line-height42;
      font-family: $font-family;
    }
  
    .drop-down-filters {
      display: flex;
      margin-bottom: $margin20;
  
      .brand-car {        
        @include drop-downs($margin11px, $padding16px, $width190px, $height46px, $border-radius6px, $font-family, $font-style, $font-weight, $font-size17px, $line-height20px);
      }
  
      .model-car {        
        @include drop-downs($margin11px, $padding16px, $width190px, $height46px, $border-radius6px, $font-family, $font-style, $font-weight, $font-size17px, $line-height20px);
      }
  
      .task {
        @include drop-downs($margin11px, $padding16px, $width311px, $height46px, $border-radius6px, $font-family, $font-style, $font-weight, $font-size17px, $line-height20px);
      }

      .btn-search {
        background: $button-color-red;
        border-radius: $button-radius30px;
        border: none;
        color: $header-text;
        width: $width172px;
        height: $height48px;
      }
    }
  
    .causes {
      font-family: $font-family;
      font-style: $font-style;
      margin-left: $margin404;
      font-weight: $font-weight300;
      font-size: $font-size14;
      line-height: $line-height16;
    }
  }
  