// $primary-color: #282c34;
// $secondary-color: #13abf2;

//widths
$header-width: 1440px;
$width120:120px;
$width149:149px;
$width168:168px;
$width173:173px;
$width175:175px;
$width189:189px;
$width190px:190px;
$width172px:172px;
$width311px:311px;
$width314px:314px;
$width497:497px;
$width742:742px;
$width1440: 1440px;

//heights
$header-height:360px;
$height19:19px;
$height46px:46px;
$height66:66px;
$height48px:48px;
$height84:84px;
$height166:166px;
$height875:875px;

//margins
$margin0:0;
$margin5px:5px;
$margin11px:11px;
$margin13:13px;
$margin14:14px;
$margin15:15px;
$margin20:20px;
$margin25:25px;
$margin26:26px;
$margin29:29px;
$margin30:30px;
$margin33:33px;
$margin69:69px;
$margin57:57px;
$margin404:404px;

//paddings
$padding0:0px;
$padding16px:16px;
$padding19:19px;
$padding20:20px;
$padding26:26px;
$padding27:27px;
$padding37:37px;
$padding47:47px;
$padding60:60px;

//colors
$header-background:linear-gradient(0deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09)), linear-gradient(90.07deg, #1C2C80 0.7%, #275CE8 99.98%);
$login-background:linear-gradient(0deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09)), linear-gradient(90.07deg, #1C2C80 0.7%, #275CE8 99.98%);
$header-text: #FFFFFF;
$button-color-red: #DB4C4A;
$color464646: #464646;
$color333333: #333333;
$colorffffff: #ffffff;
$color000000: #000000;
$colorBABABA: #BABABA; 
$backgroundBABABA: #BABABA; 
$backgroundffffff: #ffffff;


$opacity01: 0.1; 
$opacity02: 0.2; 
$opacity06: 0.6; 

//fonts
$font-family: Roboto;
$font-style: normal;
$font-weight: normal;
$font-weight300: 300;
$font-weight900: 900;
$font-size14: 14px;
$font-size16px: 16px;
$font-size17px: 17px;
$font-size18px: 18px;
$font-size20: 20px;
$font-size36: 36px;

$line-height16: 16px;
$line-height23: 23px;
$line-height19px: 19px;
$line-height20px: 20px;
$line-height21px: 21px;
$line-height42: 42px;

$letter-spacing034: 0.34em;

//borders
$border-radius6px:6px;
$border-radius12:12px;
$button-radius30px:30px;





